
*.v2
.vs/EasyProbe/v16/.suo
.vs/EasyProbe/v16/.suo
.vs/EasyProbe/v16/.suo
EasyProbe/bin
EasyProbe/obj
EasyProbe.Android/bin
EasyProbe.Android/obj
EasyProbe.iOS/bin
EasyProbe.iOS/obj
.vs/EasyProbe/v16/.suo
.vs/EasyProbe/v16/.suo
*.user
Plugin.BluetoothLE/bin
Plugin.BluetoothLE/obj
Plugin.BluetoothLE.Android/bin
Plugin.BluetoothLE.Android/obj
Plugin.BluetoothLE.iOS/bin
Plugin.BluetoothLE.iOS/obj
.vs/EasyProbe/v16/.suo
/.vs/EasyProbe
/.vs/ProjectEvaluation
